<!DOCTYPE>
<html>
<head>
    <meta charset="utf-8"/>
    <title>上传音乐</title>
    <link type="text/css" rel="stylesheet" href="__CSS__/upload.css"/>
</head>
<body>
    <div class="bd">
        <div class="upload">
            <div class="wrap">
                <div class="title">上传音乐</div>
                <form onsubmit="return false;" id="uploadForm" method="post">
                    <div class="content">
                        <div class="loadcontent">
                                <label class="label1">歌名：</label>
                                <input type="text" class="input1" id="name" maxlength="32"/>
                        </div>
                        <div class="loadcontent">
                                <label class="label1">歌手：</label>
                                <input type="text" class="input1" id="singer" maxlength="20"/>
                        </div>
                        <div class="loadcontent">
                                <label class="label1">歌词：</label>
                                <div class="lyric">
                                    <textarea class="txt" id="lyric" maxlength="500"></textarea>
                                    <span class="lyric_number" id="remain">500</span>
                                </div>
                        </div>
                        <div class="loadcontent">
                            <label class="label1">分类：</label>
                            <select name="area" class="select1" id="area">
                                <option value="0">华语</option>
                                <option value="1">粤语</option>
                                <option value="2">欧美</option>
                                <option value="3">日语</option>
                                <option value="4">韩语</option>
                                <option value="5">其他</option>
                            </select>
                        </div> 
                        <div class="loadcontent"> 
                            <label class="label1">歌曲：</label>
                            <div class="input2">
                                <input type="file" name="file" id="file">
                            </div>
                            <br />
                            <div class="button1">
                                <button type="button" id="uploadFile" onclick="uploadFile();">确认上传</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</body>
</html>