@charset "utf-8";

.navbar a:visited{
	text-decoration: none;
}
.navbar a:hover{
	text-decoration: none;
}
.navbar a:focus{
	text-decoration: none;
}

#app-title{
	color: #fff !important;
}

.search{
	width:200px;
	height: 32px;
	background-color:#fff;
	margin-left: 18px;
	margin-top: 3px;
	border-radius: 15px;
	margin-left:auto;
	margin-right:auto;
}
.navbar .search input{
	width:150px;
	height:22px;
	float: right;
	margin-top: 5px;
	margin-right: 5px;
	outline: none;
	font-size: 15px;
	border: 0;
	
}
.search i{
	margin-top: 9px;
	margin-left:15px;
	border-radius: 15px;
	
}
.headimg{
    width: 32px;
    height: 32px;
    margin-top: 10px;
    border-radius: 32px;
    background-image: url(/static/images/profile_picture_def.jpg);
    background-size: 32px 32px;
    float: left;
}
