@charset "utf-8";

html,body{
	margin:0px;
	padding:0px;
	background:#FFF;
}
a:hover{
	text-decoration: none;
}

.search{
	width:200px;
	height: 32px;
	background-color:#fff;
	margin-left: 18px;
	margin-top: 3px;
	border-radius: 15px;
	margin-left:auto;
	margin-right:auto;
}
.search input{
	width:150px;
	height:18px;
	float: right;
	margin-top: 6px;
	margin-right: 5px;
	outline: none;
	font-size: 15px;
	border: 0;
	
}
.search i{
	margin-top: 9px;
	margin-left:15px;
	border-radius: 15px;
	
}