@charset "utf-8";

html,body{
	margin:0px;
	padding:0px;
	background:#F5F5F5;
}
.row-bd{
	width:1000px;
	height:100vh;
	margin-left:auto;
	margin-right:auto;
	padding:0px;
	background-color:#c0c000;
}
.rows{
	top:0px;
	bottom:0px;
	height:100vh;
	background-color:#FFF;
}
.row-left{
	width:240px;
	height:100%;
	padding:0px;
	float:left;
	border-left:1px solid #d9d9d9;
	border-right:1px solid #d9d9d9;
	background-color:#F9F9F9;
}
.row-left h3{
	margin-left:15px;
}
.item{
	width:220px;
	height:50px;
	margin-left:10px;
	border:0px dashed #000;
	cursor:pointer;
}
.item:hover{
	background-color:#DDD;
}
.images{
	width:40px;
	height:40px;
	margin-top:5px;
	float:left;
}
.item_text{
	font-size:16px;
	font-weight:bold;
	margin-left:10px;
	line-height:45px;
}
.row-right{
	width:760px;
	height:100%;
	padding:0px;
	float:right;
	border-right:1px solid #d9d9d9;
	background-color:#FFF;
}
.g-wrap{

	width:759px;
	height:280px;
	background-color:#FFF;
}
.m-info{
	position:absolute;
	width:660px;
	height:200px;
	margin-left:50px;
	margin-top:40px;
	background-color:#FFF;
}
.wrap-images{
	width:200px;
	height:200px;
	float:left;
}
.fa-tag-nature{
	transform: rotate(135deg);
	color:#F00;
	margin-top:-7px;
	float:left;
	margin-left:20px;
	margin-right:16px;
}
.user-images{
	width:40px;
	height:40px;
	margin-top:5px;
	margin-left:20px;
	margin-right:10px;
	float:left;
}
.user-name{
	font-size:18px;
	line-height:45px;
}
.button-set{
	float:left;
	margin-left:20px;
}
.m-list-style{

	width:760px;
	height:35px;
	border-bottom:3px solid #F00;
}
.h3-move{
	margin-left:20px;
}
.table tbody tr td {
    vertical-align: middle !important;
}
.m-border{
	border-bottom:1px solid #d9d9d9;
}
