@charset "utf-8";


.test{
	border: 1px solid red;
	color: black;
}
body{
	margin:0px;
	padding:0px;
	background:#f8f8f8;
	text-align:center;
	color:#fff;
}
.login-interface{
	margin:10% auto;
}
.register-interface{
	margin:8% auto;
}
h1{
	font-size:36px;
	font-weight:36px;
	text-shadow:5px 5px 5px #ff0000;
}
form{
	width:305px;
	margin:15px auto;
	text-align:center;
}
input{
	width:300px;
	height:44px;
	line-height:42px;
	margin-top:25px;
	padding:0px 15px;
	background: rgba(44, 100, 214, 0.5);
	color:#fff;
	border-radius:8px;
	border:0px;
	outline:none;
}
input::-webkit-input-placeholder{
	color:#fff;
}
input:focus{
	box-shadow:0 2px 3px 0 rgba(0,0,0,.1) inset,0 2px 7px 0 rgba(0,0,0,0.2);
}
button{
	cursor:pointer;
	width:300px;
	height:44px;
	margin-top:25px;
	padding:0px;  
	background: rgba(255, 0, 0, 0.5);
	border-radius:6px;
	border:0px;
	box-shadow:0 15px 30px 0 rgba(255,255,255,.25) inset,0 2px 7px 0 rgba(0,0,0,0.2);
	color:#fff;
	text-shadow:1px 1px 1px #ff0000;
}
button:hover{
	box-shadow:0 15px 30px 0 rgba(255,255,255,.15) inset,0 2px 7px 0 rgba(0,0,0,0.2);
}
.registerAndlogin{
	line-height:42px;
	margin:15px auto;
	padding:0px 15px;
	border:1px solid rgba(255, 255, 255, 0.5);
	background:rgba(255, 150, 10, 0.5);
	border-radius:8px;
}
label.error{
	display:block;
	-webkit-transition:border-color .15s ease-in-out,box-shadow .15s ease-in-out;
	border-radius:8px;
	width:300px; 
	height:38px;
	font-size:14px;
	border:1px solid rgba(255,255,255,0.5);
	line-height: 36px;
	background:rgba(245, 26, 26, 0.8);
}

<!--动态图-->
#supersized-loader{
	position:absolute;
	top:50%;
	left:50%;
	z-index:0;
	width:60px;
	height:60px;
	margin:-30px 0 0 -30px;
	text-indent:-999em;
}
#supersized{
	display:block;
	position:fixed;
	left:0;
	top:0;
	overflow:hidden;
	z-index:-999;
	height:100%;
	width:100%;
}
#supersized img{
	width:auto;
	height:auto;
	position:relative;
	display:none;
	outline:none;
	border:none;
}
#supersized.speed img{
	-ms-interpolation-mode:nearest-neighbor;
	image-rendering:-moz-crisp-edges;
}
#supersized.quality img{
	-ms-interpolation-mode:bicubic;
	image-rendering:optimizeQuality;
}
#supersized li{
	display:block;
	margin:0;
	list-style:none;
	z-index:-30;
	position:fixed;
	overflow:hidden;
	top:0;
	left:0;
	width:100%;
	height:100%;
	background:#111;
}
#supersized a{
	width:100%;
	height:100%;
	display:block;
}
#supersized li.prevslide{
	z-index:-20;
}
#supersized li.activeslide{
	z-index:-10;
}
#supersized li.activeslide img,#supersized li.prevslide img{
	display:inline;
}
#supersized img{
	max-width:none!important;
}
