<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<link rel="stylesheet" href="__CSS__/style.css"/>
</head>
<body>
	hello,world!
	<script src="__JS__/jquery.min.js"></script>
	<script src="__JS__/common.js"></script>
	<!--背景图片自动更换-->
	<script src="__JS__/supersized.3.2.7.min.js"></script>
	<script src="__JS__/supersized-init.js"></script>
	<!--表单验证-->
	<script src="__JS__/jquery.validate.min.js"></script>
	<!--动态链条-->
	<script src="__JS__/canvas-nest.js" color=white zIndex='-1' opacity='1' count='99'></script>
</body>
</html>