<!-- {volist name="rank_list" id="item"}
	<li class="music_item">
		<div class="music_item_num">
			{switch name="i"}
				{case value="1"}
					<div class="no1"></div>
				{/case}
				{case value="2"}
					<div class="no2"></div>
				{/case}
				{case value="3"}
					<div class="no3"></div>
				{/case}
				{default}
					<span>{$i}</span>
				{/default}
			{/switch}
		</div>
		<div clas="music_infor">
			<img class="music_infor_img" src="images/1.jpg">
			<div class="music_infor_name">xxxxxxxx</div>
		</div>
		<div class="music_infor_singer">XXX</div>
		<div class="music_infor_time">xx.xx.xx</div>
	</li>
{/volist} -->

	<li class="music_item">
		<div class="music_item_num"><div class="no1"></div></div>
		<div class="music_infor">
			<img class="music_infor_img" src="images/1.jpg">
			<div class="music_infor_name">xxxxxxxx</div>
		</div>
		<div class="music_infor_singer">XXX</div>
		<div class="music_infor_time">xx.xx.xx</div>
	</li>
