<head>
    <link rel="stylesheet" type="text/css" href="__CSS__/footer.css">
    <link rel="stylesheet" type="text/css" href="__CSS__/iconfont.css">
</head>

<body>
    <footer class="web-footer">
        <a href="http://www.zsc.edu.cn/" class="school-img" target="_blank">
            <img src="__IMG__/school.png" width="380px" height="68px;">
        </a>
        <a href="https://github.com/luoyifengyin/music" class="github" target="_blank">
            <i class="iconfont icon-GitHub" style="font-size: 50px;"></i>
            <p class="proadd">项目地址</p>
        </a>
        <ul class="group-members">
            <li>16级移动互联应用开发B班</li>
            <li>第11小组成员</li>
            <li>组长：邬智鹏</li>
            <li>组员：胡宸铭、罗建洪、张子谦、刘鑫海、吴伟业、陈宇庭、卢君烁</li>
        </ul>
    </footer>
</body>